.form-control{
    margin-top: 10px;
    width: 450px;
    outline: none;
    border: none;
    padding: 10px 15px;
    height: 80px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.input-control{
    height: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
form .btn-warning{
    padding:10px 25px;
    background-color: rgb(238, 197, 15);
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}